{{#d-modal-body title="fingerprint.details"}}
  <table>
    {{#if isFingerprintjs2}}
      {{#each-in fingerprint.data as |idx data|}}
        <tr>
          <td>{{data.key}}</td>
          <td>{{data.value}}</td>
        </tr>
      {{/each-in}}
    {{else}}
      {{#each-in fingerprint.data as |key value|}}
        <tr>
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
      {{/each-in}}
    {{/if}}
  </table>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-modal-cancel close=(action "closeModal")}}
</div>
