{{#d-modal-body title="fingerprint.details"}}
  <table class="fingerprint">
    {{#if isDataArray}}
      {{#each-in fingerprint.data as |idx data|}}
        <tr>
          <td class="key">{{data.key}}</td>
          <td class="value">{{data.value}}</td>
        </tr>
      {{/each-in}}
    {{else}}
      {{#each-in fingerprint.data as |key value|}}
        <tr>
          <td class="key">{{key}}</td>
          <td class="value">{{value}}</td>
        </tr>
      {{/each-in}}
    {{/if}}
  </table>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-modal-cancel close=(action "closeModal")}}
</div>
