<div class="dashboard-next">

  <div class="section-top section-columns">

    <!-- Left: User lookup -->
    <div class="section-column">
      <div class="section-ttile">
        <h2>{{i18n 'fingerprint.title'}}</h2>
      </div>
      <div class="section-body">
        {{user-selector single=true
                        usernames=username
                        onChangeCallback='updateReport'
                        placeholderKey='user.username.title'
                        canReceiveUpdates='true'}}
        <p>{{{i18n 'fingerprint.info' algorithm='<a href="https://github.com/Valve/fingerprintjs2">Fingeprintjs2</a>'}}}</p>
      </div>
    </div>

    <!-- Right: User's matches -->
    <div class="section-column">
      {{#if username}}
        <div class="section-title">
          <h2>{{i18n 'fingerprint.matches' username=username}}</h2>
        </div>
        <div class="section-body">
          {{#if matches.length}}
            <span>{{i18n 'fingerprint.matches_found' count=matches.length}}</span>
            <table>
              {{#each matches as |u|}}
                <tr>
                  <td>
                    {{#user-link user=u}}
                      {{avatar u imageSize="small"}}
                      {{u.username}}
                    {{/user-link}}
                  </td>
                  <td>
                    <a {{action 'addIgnore' u.username}}>{{i18n 'admin.flags.ignore_flag'}}</a>
                  </td>
                </tr>
              {{/each}}
            </table>
          {{else}}
            {{i18n 'fingerprint.matches_not_found'}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>

  {{#if username}}
    <!-- Show more details about selected user. -->
    <div class="section">
      <div class="section-title">
        <h2>{{i18n 'fingerprint.details'}}</h2>
      </div>
      <div class="section-body">
        {{#if fingerprints.length}}
          <table>
            <tr>
              <th>{{i18n 'fingerprint.results.algorithm'}}</th>
              <th>{{i18n 'fingerprint.results.hash_value'}}</th>
              <th>{{i18n 'fingerprint.results.first_seen'}}</th>
              <th>{{i18n 'fingerprint.results.last_seen'}}</th>
              <th>{{i18n 'fingerprint.results.matches'}}</th>
            </tr>
            {{#each fingerprints as |f|}}
            <tr>
              <td>{{f.type}}</td>
              <td>{{f.hash}}</td>
              <td>{{format-date f.first_time}}</td>
              <td>{{format-date f.last_time}}</td>
              <td>
                <p>
                  {{#each f.matches as |u|}}
                    {{#user-link user=u}}
                      {{avatar u imageSize="small"}}
                      {{u.username}}
                    {{/user-link}}
                  {{/each}}
                </p>
              </td>
            </tr>
            {{/each}}
          </table>
        {{else}}
          {{i18n 'fingerprint.none'}}
        {{/if}}
      </div>
    </div>
  {{else}}
    <!-- Show latest matches if no user was selected. -->
    <div class="section">
      <div class="section-title">
        <h2>{{i18n 'fingerprint.matches_latest'}}</h2>
      </div>
      <div class="section-body">
        {{#if all_matches.length}}
          <table>
          {{#each all_matches as |us|}}
            <tr>
              {{#each us as |u|}}
                <td>
                  <a href {{action 'viewReportFor' u}}>
                    {{avatar u imageSize="small"}}
                    {{u.username}}
                  </a>
                </td>
              {{/each}}
            </tr>
          {{/each}}
          </table>
        {{else}}
          {{i18n 'fingerprint.matches_not_found'}}
        {{/if}}
      </div>
    </div>
  {{/if}}

</div>
