<div class="section">
  <div class="section-title">
    <h2>{{i18n "fingerprint.latest_matches"}}</h2>
  </div>
  <div class="section-body">
    {{html-safe (i18n "fingerprint.latest_matches_instructions" algorithm="<a href='https://github.com/Valve/fingerprintjs2'>Fingeprintjs2</a>")}}

    {{#if fingerprints.length}}
      <table>
        <thead>
          <tr>
            <th></th>
            <th>{{i18n "fingerprint.results.hash"}}</th>
            <th>{{i18n "fingerprint.results.matches"}}</th>
            <th colspan="3">
              {{input type="checkbox" id="hide-common" checked=hideCommon}}
              <label for="hide-common">{{i18n "fingerprint.hide_common"}}</label>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each fingerprints as |fingerprint|}}
            {{#if (not (and hideCommon fingerprint.is_common))}}
              <tr>
                <td>{{d-icon fingerprint.device_type}}</td>
                <td>
                  <small>
                    {{fingerprint.name}}
                    {{#if fingerprint.is_common}}
                      <span data-tooltip={{i18n "fingerprint.common_device"}}>{{d-icon "layer-group"}}</span>
                    {{/if}}
                  </small>
                  <br>
                  {{fingerprint.value}}
                </td>
                <td>
                  <small>{{fingerprint.user_ids.length}}</small>
                  {{#each fingerprint.users as |u|}}
                    {{#user-link user=u}}
                      {{avatar u imageSize="small"}}
                    {{/user-link}}
                  {{/each}}
                </td>
                <td>
                  {{#if fingerprint.hidden}}
                    <a href {{action flag "hide" fingerprint "yes"}}>{{d-icon "far-eye"}} {{i18n "js.fingerprint.unhide"}}</a>
                  {{else}}
                    <a href {{action flag "hide" fingerprint}}>{{d-icon "far-eye-slash"}} {{i18n "js.fingerprint.hide"}}</a>
                  {{/if}}
                </td>
                <td>
                  {{#if fingerprint.silenced}}
                    <a href {{action flag "silence" fingerprint "yes"}}>{{d-icon "microphone"}} {{i18n "js.fingerprint.unsilence"}}</a>
                  {{else}}
                    <a href class="silence" {{action flag "silence" fingerprint}}>{{d-icon "microphone-slash"}} {{i18n "js.fingerprint.silence"}}</a>
                  {{/if}}
                </td>
                <td>
                  {{#if fingerprint.data}}
                    <a href {{action showFingerprintData fingerprint.data}}>{{d-icon "info"}} {{i18n "js.fingerprint.details"}}</a>
                  {{/if}}
                </td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    {{else}}
      {{i18n "fingerprint.matches_not_found"}}
    {{/if}}
  </div>
</div>
